/* navbar */
.offhead{
    background-color: #378CE7;
    color: white;  
}

/* Start Carusel section */
.carousel-indicators button{
    height: 13px !important;
    width: 13px !important;
    border-radius: 100%;
    background-color:#ffffff !important ;

}
.carousel-indicators .active{
    background-color: #1672d4 !important;
}
.first-head{
font-size: 500%;
font-family: "Kaisei Decol", serif;
}
@media screen and (min-width: 200px) and (max-width: 576px){
    .first-head{
        font-size: 180%;
        } 
}
@media screen and (min-width: 577px) and (max-width: 991px){
    .first-head{
        font-size:380%;
        } 
}
.first-para{
    margin-bottom: -12px;
    font-family:"Roboto-Condensed", sans-serif;
}
.first-btn{
    background-color: white;
    margin-bottom: 180px;
    }
.first-btn:hover{
background-color: #378CE7;
color: white;
}
@media screen and (min-width:200px) and (max-width: 576px){
    .first-btn{
    background-color: white;
    margin-bottom: 15px;
    }
}
@media screen and (min-width: 577px) and (max-width: 991px){
    .first-btn{
    background-color: white;
    margin-bottom: 80px;
    }
}
/* End carusel section */

/* Start Get To know section */
.get-To{
background-color: #f2f6f9;
}
.get-head{
    font-family: "Kaisei Decol", serif;
    color: black;
}
.get-firstpara{
    font-family:"Roboto-Condensed", sans-serif; 
    color: rgb(76, 75, 75);
}
.btn-view{
    background-color: black;
    color: white;

}
.btn-view:hover{
    background-color: #378CE7;
    color: white;
}

/* Start insurance coverage section*/
.insu-cov{
    background-image:url(./image/insurance-coverage-img.jpg);
    background-size: cover;
    height:700px;
    padding-top: 20vw;
    padding-left: 31vw;
}
@media screen and (min-width:200px) and (max-width: 576px){
    .insu-cov{
    height: 500px;
    padding-top:62vw ;
    padding-left: 24vw;
    width: 90%;
    margin-left: 4vw;
    }
}
@media screen and (min-width: 577px) and (max-width: 991px){
    .insu-cov{
        height: 600px;
        padding-top: 50vw;
    }
}
.insu-year{
    background-color: #378CE7;
    width: 190px;
   
}
.seco-servi{
    background-color: #378CE7;
    border-radius: 50%;
    padding: 18px;
    color: white;
}
/* End insurance coverage section*/

/* Lets protect section */
.lets-head{
  font-size: 350%;
  font-family: "Kaisei Decol", serif;
}
@media screen and (min-width: 200px) and (max-width: 576px){
.lets-head{
 font-size: 170%;
 } 
}
@media screen and (min-width: 577px) and (max-width: 991px){
.lets-head{
 font-size:370%;
 } 
}
.check-right{
    font-size:19px !important;

}
.btn-lets{
    background-color:#378CE7;
    color: white;
}
.btn-lets:hover{
    background-color: black;
    color: white;
}
.protect-img{
    background-image: url(./image/business-life.png);
    background-repeat: no-repeat;
    height:700px;
    margin-left: 98px;
    width: 100%;
}
@media screen and (min-width: 200px) and (max-width: 576px){
    .protect-img{
        margin-left: 0;
        margin-top: 60px;
       
    }
     } 
@media screen and (min-width: 577px) and (max-width: 991px){
    .protect-img{
        margin-left: 100px;
        
    }
     } 
    /* Clients say section */
@media screen and (min-width: 200px) and (max-width: 576px){
        .client-img{
           display: flex;
           justify-content: center;
           align-items: center;
           margin-left: 120px; 
           padding: 0px 0px;

        }
         } 
 @media screen and (min-width: 577px) and (max-width: 991px){
            .client-img{
           display: flex;
           justify-content: center;
          align-items: center;
          margin-left: 120px; 
          padding: 0px 0px;
        }
    }
   /* What going blog section */
   .linktag{
    text-decoration: none;
   }
   .linktag:hover{
    text-decoration:underline;
    padding-bottom: 2px;
    transition: .7s;
   }
   .link-para{
    color:#378CE7 ;
    font-family:"Roboto-Condensed", sans-serif;
   }
   /* Get the la{rtest section */
   .btn-lartest{
    background-color:#378CE7;
    color: white;
    width: 65%;
   
}
.btn-lartest:hover{
    background-color: black;
    color: white;
}
.last-btdiv{
    z-index: 100;
    margin-top: -63px;
    margin-left: 735px;
    
}
@media screen and (min-width: 200px) and (max-width: 576px){
    .last-btdiv{
        z-index: 100;
        margin-top:20px;
        margin-left:0;
        display: flex;
        justify-content: center;
    }
     } 
@media screen and (min-width: 577px) and (max-width: 991px){
    .last-btdiv{
        z-index: 100;
        margin-top:24px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}
.last-inp{
    z-index: 99;
    display: flex;
    justify-content: center;
}
.get-foo{                                                                                                                                                                                               
    background-color: #f2f6f9;
}
/* footer section */
.last-icon{
    color: white;
    padding: 25px;
    border-radius: 50%;
}
.last-icon:hover{
    color: black;
    background-color: white;
    
}
.last-angle{
    padding-top: 6px;
    color:#6c757d;
    font-size: 12px;
}